/* a {
    float: left;
    padding: 0 9px;
    color: green;
    font-size: 12px;
    padding-left: 17px;
    text-decoration: none;
} */
a.del {
    background: url(../../images/del.png)0 no-repeat;
    padding-left: 17px;
}
